@media only screen and (max-width: 1200px) {
    .navbar {
        display: inline-block !important;
    }
    .navbarDesktop {
        display: none !important;
    }
    header nav {
        display: none;
    }
    ._shortInfo {
        margin: 0 10px !important;
        padding-bottom: 10px !important;
    }
    #resume,
    #generalSkills,
    #projects {
        margin: 50px 10px 0 10px !important;
    }
    .shortInfo .container .profileImg {
        display: none !important;
    }
    .shortInfo .container .info h2 {
        font-size: 18px !important;
    }
    .shortInfo .container .info .infoChild .left {
        margin-right: 10px !important;
    }
    .shortInfo .container .info .infoChild .right h5 {
        font-size: 16px !important;
    }
    .experience .education {
        margin-top: 50px !important;
    }
    .experience .employment {
        margin-top: 25px !important;
    }
    .experience .education h1,
    .experience .employment h1 {
        font-size: 30px;
    }
    #generalSkills .progressBar {
        width: 300px !important;
    }
    #projects .card {
        flex-direction: column !important;
        width: 90% !important;
        height: 450px !important;
        margin: auto !important;
        margin-top: 30px !important;
    }
    #projects .card .left {
        width: 100% !important;
        height: 45% !important;
    }
    #projects .card .right {
        margin: 0 !important;
        width: 100% !important;
    }
}